.nav-link {
color:white;

}

.nav-link:visited {
  color:rgb(255, 254, 254);
  
  }

  .nav-link:hover{
    color:rgb(0, 162, 255);
    
    }

    .nav-link:visited:hover {
      color:rgb(0, 162, 255);
      
      }